<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" ></link>
    <title>Title</title>
</head >
<body  bgcolor="#00a000" >
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-brand">管理员功能</div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
            </li>
            <li ><a href="/admin">退出</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-sm-3">
        <div class="list-group">
            <dl>
                <dt>学生管理</dt>
                <dd>
                    <ul class="list-group">
                        <li ><a href="/ad/register" class="list-group-item">增加学生</a></li>
                        <li><a  href="/ad/updatestudent" class="list-group-item ">修改学生</a></li>
                        <li><a  href="/ad/examstudent" class="list-group-item ">给以考试</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>教师管理</dt>
                <dd>
                    <ul class="list-group">
                        <li><a href="/ad/registerteacher" class="list-group-item ">添加教师</a></li>
                        <li><a href="/ad/updateteacher"  class="list-group-item">修改教师</a></li>
                    </ul>
                </dd>
            </dl>
        </div>

    </div>
    <div class="col-sm-8">
        <h1 class="text-center font-weight text-success">欢迎管理员登录登录</h1>
    </div>
</div>
</body>
</html>