<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" ></link>
    <title>Title</title>
</head >
<body  bgcolor="#00a000" >
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-brand">管理员功能</div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
            </li>
            <li ><a href="/admin">退出</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-sm-3">
        <div class="list-group">
            <dl>
                <dt>学生管理</dt>
                <dd>
                    <ul class="list-group">
                        <li ><a href="#" class="list-group-item  active">增加学生</a></li>
                        <li><a  href="/ad/updatestudent" class="list-group-item ">修改学生</a></li>
                        <li><a  href="/ad/examstudent" class="list-group-item ">给以考试</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>教师管理</dt>
                <dd>
                    <ul class="list-group">
                        <li><a href="/ad/registerteacher" class="list-group-item ">添加教师</a></li>
                        <li><a href="/ad/updateteacher"  class="list-group-item">修改教师</a></li>
                    </ul>
                </dd>
            </dl>
        </div>

    </div>
    <div class="col-sm-8">

        <form action="/ad/registerstudents"  class="form-horizontal">
            <fieldset>
                <div id="legend" class="">
                    <legend class="text-center font-weight text-muted">学生添加</legend>
                </div>
                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input01">学生名</label>
                    <div class="controls">
                        <input type="text" name="username" id="input01" placeholder="name" class="input-xlarge">
                        <p class="help-block">生成学生登录名</p>
                    </div>
                </div>

                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input02">密码</label>
                    <div class="controls">
                        <input type="text" name="password" id="input02" placeholder="password" class="input-xlarge">
                        <p class="help-block">生成学生密码</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>

                    <!-- Button -->
                    <div class="controls">
                        <input type="submit" class="btn btn-info"></input>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>
</body>
</html>