<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" ></link>
    <title>Title</title>
    <script src="../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../assets/js/jquery.easy-pie-chart.js"></script>
    <!--时间js-->
    <script src="../assets/js/jquery.countdown.js"></script>
    <script>
        window.jQuery(function($) {
            "use strict";

            $('time').countDown({
                with_separators : false
            });
            $('.alt-1').countDown({
                css_class : 'countdown-alt-1'
            });
            $('.alt-2').countDown({
                css_class : 'countdown-alt-2'
            });

        });


        $(function() {
            $('li.option label').click(function() {
                debugger;
                var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
                var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
                // 设置已答题
                if(!cardLi.hasClass('hasBeenAnswer')){
                    cardLi.addClass('hasBeenAnswer');
                }

            });
        });
    </script>
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/test.css" rel="stylesheet" type="text/css" />
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color:#fff;
        }
    </style>
    <script type="text/javascript">
        window.onload = function(){
            alert("执行");
            $("div").hide();
        }
        $(document).ready(function(){
            $("#hide").click(function(){
                $("div").hide();
            });
            $("#show").click(function(){
                $("div").show();
                var elem = document.getElementById("exam");
                console.log(elem);
                requestFullScreen(elem);
                var oldtime=$("b").children("time").attr("datetime");
                gettime(oldtime);
            });

        });
        window.onresize = function() {
            if (!checkFull()) {
                //要执行的动作
                alert("exit");//这里捡个懒，直接用JQ来改className
                testform();
            }
        }
    </script>
    <style type="text/css">
        #content:-webkit-full-screen {
            background-color:rgb(255, 255, 12);
        }#myvideo:-webkit-full-screen {
             width: 100%;
             height: 100%;
         }
    </style>
    <script th:inline="JavaScript" type="text/javascript" language="JavaScript">
        function  testform() {
            document.getElementById("myForm").submit();
        }
        function gettime(oldtime){
            var time=$("b").children("time").attr("datetime");
            if(time=="PT00H00M00S"){
                testform();
            }else{
                var t=setTimeout(function(){gettime(time);},5000);
            }
        }

        function requestFullScreen(element) {
            var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;
            if (requestMethod) {
                requestMethod.call(element);
            } else if (typeof window.ActiveXObject !== "undefined") {
                var wscript = new ActiveXObject("WScript.Shell");
                if (wscript !== null) {
                    wscript.SendKeys("{F11}");
                }
            }

        }
        function checkFull() {
            var isFull = document.fullscreenEnabled || window.fullScreen || document.webkitIsFullScreen || document.msFullscreenEnabled;
            //to fix : false || undefined == undefined
            if (isFull === undefined) {isFull = false;}
            return isFull;
        }
        function hold(){
            var answer_look= [[${answer_look}]];

        }
    </script>
</head>
<body bgcolor="#7fff00">
<input type="button" id="show" value="考试细则考试时间为1个小时进行全屏考试如果退出全屏将视为交卷"/>
<div class="main" id="exam" style="margin:0 auto;background:#ccc;height:100%; overflow-y:auto;" >
    <div class="test_main">
        <div class="nr_left">
            <div class="test">

<form  id="myForm" method="post" th:action="@{/examtest/submit}" th:object="${choose_option}">
    <div class="test_title">
        <p class="test_time">
            <i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
        </p>
        <font><input type="button" name="test_jiaojuan" value="交卷" onclick="testform()"></font>
        <font><input type="button" name="test_baocun" value="保存" onclick="hold()"></font>
    </div>
    <div class="test_content">
        <div class="test_content_title">
            <h2>单选题</h2>
            <p>
                <span>共</span><i class="content_lit">10</i><span>题，</span><span>合计</span><i class="content_fs">50</i><span>分</span>
            </p>
        </div>
    </div>
    <div class="test_content_nr">
        <ul th:each="c_o:${c_o}"  >
            <li th:id="${c_o.qu_choose}">
                <div class="test_content_nr_tt">
                    <i><div th:text="${c_o.qu_choose}"/></i><font><input type="hidden" th:text="${c_o.rubric}"  name="choose" th:value="${c_o.choose_id}"/></font>
                </div>
                <div class="test_content_nr_main">
                <ul>
                    <li class="option"><input type="radio" name="option" th:name="${c_o.choose_id}" th:value="${c_o.option_id1}" th:id="${c_o.option1}"  /><label th:for="${c_o.option1}"><div th:text="${c_o.option1}" /></label></li>
                    <li class="option"><input type="radio" name="option" th:name="${c_o.choose_id}" th:value="${c_o.option_id2}"  th:id="${c_o.option2}" /><label th:for="${c_o.option2}"><div th:text="${c_o.option2}" /></label></li>
                    <li class="option"><input type="radio" name="option" th:name="${c_o.choose_id}" th:value="${c_o.option_id3}"  th:id="${c_o.option3}" /><label th:for="${c_o.option3}"><div th:text="${c_o.option3}" /></label></li>
                </ul>
                </div>
            </li>
        </ul>

    <hr />
    </div>
    <div class="test_content">
        <div class="test_content_title">
            <h2>填空题</h2>
            <p>
                <span>共</span><i class="content_lit">5</i><span>题，</span><span>合计</span><i class="content_fs">30</i><span>分</span>
            </p>
        </div>
    </div>
    <div class="test_content_nr">
<table border="0"  class="table table-striped table-bordered">
    <tr>
        <th>问题</th>
        <th>答案</th>
    </tr>
    <tr th:each="answer_look:${answer_look}" th:id="${answer_look.qu_answer}">
        <td ><input type="hidden" name="answer" th:text="${answer_look.easyexams_answer.rubric}" th:value="${answer_look.easyexams_answer.id}"></input></td>
        <td><input type="text"  name="result"/></td>
    </tr>
</table>
        <input type="hidden" name="student" th:value="${session.student.id}" />
    <div class="container">
    <h2><input type="submit" value="提交" class="btn btn-warning" onclick="testform()"/></h2>
     </div>
    </div>
</form>
            </div>
        </div>
                <div class="nr_right">
                    <div class="nr_rt_main">
                        <div class="rt_nr1">
                <div class="rt_nr1_title">
                    <h1>
                      答题卡
                    </h1>
                    <p class="test_time">
                        <i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
                    </p>
                </div>

                <div class="rt_content">
                    <div class="rt_content_tt">

                    </div>
                    <div class="rt_content_nr answerSheet">
                        <ul>

                            <li><a href="#1">1</a></li>

                            <li><a href="#2">2</a></li>

                            <li><a href="#3">3</a></li>

                            <li><a href="#4">4</a></li>

                            <li><a href="#5">5</a></li>

                            <li><a href="#6">6</a></li>

                            <li><a href="#7">7</a></li>

                            <li><a href="#8">8</a></li>

                            <li><a href="#9">9</a></li>

                            <li><a href="#10">10</a></li>



                        </ul>
                    </div>
                </div>
                <div class="rt_content">
                    <div class="rt_content_tt">

                    </div>
                    <div class="rt_content_nr answerSheet">
                        <ul>

                            <li><a href="#an1">1</a></li>

                            <li><a href="#an2">2</a></li>

                            <li><a href="#an3">3</a></li>

                            <li><a href="#an4">4</a></li>

                            <li><a href="#an5">5</a></li>




                        </ul>
                    </div>
                </div>

                        </div>
                    </div>
                </div>

    </div>
</div>
</body>
</html>