<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" ></link>
    <title>Title</title>
</head>
<body bgcolor="#ffe4c4">
<div class="container">
<table border="0"  class="table table-striped table-bordered">
    <tr>
        <th>题目</th>
        <th>答案</th>
        <th>成绩</th>
    </tr>
    <tr th:each="student_answer:${student_answer}">
        <td><input type="hidden" name="answer_id" th:text="${student_answer.answer_rubric}" th:value="${student_answer.id}" /></td>
        <td><div th:text="${student_answer.result}" /></td>
        <td><input type="hidden" name="answer_grade" th:text="${student_answer.grade}" /></td>
    </tr>
</table>
<table border="0"  class="table table-striped table-bordered">
    <tr>
        <th>题目</th>
        <th>答案</th>
        <th>成绩</th>
    </tr>
    <tr th:each="student_choose:${student_choose}">
        <td><input type="hidden" name="choose_id" th:text="${student_choose.choose_rubric}" th:value="${student_choose.id}" /></td>
        <td><div th:text="${student_choose.option}" /></td>
        <td><input type="hidden" name="choose_grade" th:text="${student_choose.grade}" /></td>
    </tr>
</table>
</div>
    <div class="help-block " th:text="${sum}"></div>
</body>
</html>