<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          th:href="${#httpServletRequest.getContextPath()}+'/assets/bootstrap-table/bootstrap-table.css'"/>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css"></link>
    <script src="../assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <title>Title</title>
    <style>
        .ulx li {
            list-style-type: none;
        }
    </style>
</head>
<body bgcolor="#00a000">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-brand">学生功能</div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">
                <div th:text="${session.student.name}"/>
            </a>
            </li>
            <li><a href="/">退出</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-sm-3">
        <div class="list-group">
            <dl>
                <dt>考试信息</dt>
                <dd>
                    <ul class="list-group ulx">
                        <li><a href="/web/exam.htm" class="list-group-item">参加考试</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>学生成绩</dt>
                <dd>
                    <ul class="list-group ulx">
                        <li><a href="/web/query.htm" class="list-group-item ">查询成绩</a></li>
                    </ul>
                </dd>
            </dl>
        </div>

    </div>
    <div class="col-sm-8">

        <form class="form-horizontal" METHOD="get" action="/teacher/teacherlist">
            <fieldset>
                <div id="legend" class="">
                    <legend class="">学生成绩查询</legend>
                </div>
                <div class="control-group">
                    <!-- Select Basic -->
                    <label class="control-label">课程</label>
                    <div class="controls">
                        <select class="input-xlarge" name="id" id="select01">
                            <option selected="selected">请选择专业</option>
                            <div th:each="subject:${session.subject}">
                                <option th:value="${subject.id}">
                                    <div th:text="${subject.subjectname}"/>
                                </option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>

                    <!-- Button -->
                    <div class="controls">
                        <button type="button" class="btn btn-default" onclick="doFunc();">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div>
            <table class="table table-bordered" id="tblDate">
            </table>
        </div>
    </div>
</div>
<script th:src="${#httpServletRequest.getContextPath()}+'/assets/bootstrap/js/bootstrap.js'"></script>
<script th:src="${#httpServletRequest.getContextPath()}+'/assets/bootstrap-table/bootstrap-table.js'"></script>
<script th:src="${#httpServletRequest.getContextPath()}+'/assets/bootstrap-table/bootstrap-table-zh-CN.js'"></script>

<script th:inline="javascript">

    var contextPath = [[${#httpServletRequest.getContextPath()}]];

    $(function () {
        initTable('', '');
    });

    function initTable(username, id) {
        $('#tblDate').bootstrapTable('destroy');
        $('#tblDate').bootstrapTable({
            url: contextPath + '/teacher/teacherlist?username=' + username + '&id=' + id,
            dataType: 'json',
            contentType: 'application/json',
            method: 'get',
            //是否分页
            pagination: true,
            paginationLoop: false,
            sidePagination: 'client',
            pageNumber: 1,
            pageSize: 5,
            pageList: [5, 10, 15, 20, 'all'],
            search: false,
            searchAlign: 'left',
            buttonsAlign: 'left',
            cache: false,
            columns: [
                {
                    field: 'rubric',
                    title: '题目'
                },
                {
                    field: 'result',
                    title: '学生答案'
                },
                {
                    field: 'tf',
                    title: '参考答案'
                },
                {
                    field: 'grade',
                    title: '正误'
                }
            ]
        });
    }
    function doFunc() {
        var username = [[${session.student.name}]];
        var id = $('#select01').val();
        initTable(username, id);
    }
</script>
</body>
</html>